/* 
light green: dbf0db
green: 4FB84F
blue: 1F8DD6
light grey: DEDEDE
med grey: BFBFBF
*/

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #dbf0db;
}

.container {
  text-align: center;
  height: 100%;
}

#name-form {
  height: 100%;
}

#game-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 80%;
}

#player-name {
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#player-names-container h1 {
  font-size: 3em;
}
#buttons {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

#stats-box {
  width: 100%;
}

#stats-box p {
  font-size: 1.2em;
}

#paragraph-box {
  min-height: 150px;
  width: 100%;
  line-height: 2.5;
  font-size: 1.4em;
  padding: 20px 70px;
  text-align: justify;
  white-space: nowrap;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#paragraph {
  display: inline-block;
  width: 80%;
}

#paragraph-padding {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

#paragraph-button {
  margin: 0 5%;
  font-size: 28px;
}

#start-button {
  margin: 0 5%;
  font-size: 28px;
}

span.neutral {
  font-weight: 700;
}

span.correct {
  font-weight: 700;
  opacity: 0.5;
}

span.error {
  font-weight: 700;
  color: #c40d00;
}

span.next {
  font-weight: 700;
  text-decoration: underline;
}
#name-form {
  height: 100%;
  border: 2px solid green;
}
#player-names-container {
  height: 100%;
  border: 2px solid blue;
}
#name-button {
  background-image: linear-gradient(to bottom right, #4fb84f, #1f8dd6);
  height: 10%;
  width: 50%;
  font-size: 2em;
  float: right;
}
.name-container {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.name-container label {
  width: 40%;
  height: 80%;
  font-size: 3em;
}
.name-container input {
  width: 50%;
  height: 80%;
  border-radius: 25px;
  background-color: aliceblue;
  border-color: white;
  margin-left: 20px;
}
.name-container:first-of-type {
  background-color: #4fb84f;
}
.name-container:last-of-type {
  background-color: #1f8dd6;
}
#players-select {
  width: 100%;
  height: 40%;
  border: 2px solid red;
}
.rounded-white {
  border-radius: 25px;
  color: aliceblue;
  margin-bottom: 1%;
}
.players-button {
  width: 90%;
  height: 40%;
  font-size: 2em;
}
.players-button:first-of-type {
  background-color: #4fb84f;
}
.players-button:last-of-type {
  background-color: #1f8dd6;
}
.game-button {
  width: 20%;
  font-size: 1em;
  height: 20%;
  min-width: 200px;
  border-radius: 25px;
  color: aliceblue;
  background-color: #4fb84f;
}

#results-page {
  min-height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid blue;
}

#player-results-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.results-section {
  border: 5px solid black;
  width: 45%;
  min-height: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.results-section p {
  font-size: 1.2em;
}

.results-section span {
  font-size: 1.2em;
  font-weight: 600;
}

/* Traffic light css */
#traffic-light-bg {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: absolute;
  display: none;
  z-index: 5;
}

#traffic-light {
  position: absolute;
  width: 170px;
  height: 400px;
  margin-top: -200px;
  margin-left: -85px;
  top: 50%;
  left: 50%;
  background-color: #e3e3e3;
}

.red {
  background: red;
  background-size: 5px 5px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 35px;
  animation: 3s red;
  opacity: 0.1;
}

.yellow {
  background: yellow;
  background-size: 5px 5px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 145px;
  left: 35px;
  animation: 3s yellow;
  opacity: 0.1;
}

.green {
  background: green;
  background-size: 5px 5px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 270px;
  left: 35px;
  animation: 3s green;
  opacity: 0.1;
}

@keyframes red {
  0% {
    opacity: 1;
  }
  29% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes yellow {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  31% {
    opacity: 1;
  }
  59% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes green {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  61% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

#traffic-light p {
  font-size: 42px;
  font-weight: 700;
}

#pred {
  color: red;
  position: absolute;
  animation: red 3s;
  left: 250px;
  top: 10px;
  opacity: 0;
}

#pyellow {
  color: yellow;
  position: absolute;
  animation: yellow 3s;
  left: 250px;
  top: 135px;
  opacity: 0;
}

#pgreen {
  color: green;
  position: absolute;
  animation: green 3s;
  left: 250px;
  top: 260px;
  opacity: 0;
}
/* Traffic light end css */

/* Keyboard */
#keyboard {
  display: inline-block;
  text-align: center;
  width: 780px;
}

#keyboard div {
  margin: 5px 0;
}

#keyboard input {
  box-shadow: 5px 5px 5px #666;
  background-color: #efefef;
  width: 70px;
  height: 50px;
}

#keyboard input.buttonPressEffect {
  background-color: #bfbfbf;
  border: #666;
  box-shadow: 10px 10px 10px #666;
}

@media (max-width: 1000px) {
  #keyboard {
    width: 580px;
  }
  #keyboard input {
    width: 50px;
    height: 35px;
  }
}

@media (max-width: 768px) {
  #keyboard {
    width: 405px;
  }
  #keyboard input {
    width: 35px;
    height: 25px;
  }
}

/* Keyboard */
